<!-- <app-header></app-header> -->

<!--
<div class="service-wrap">
    <img class="demo-bg" src="assets/images/10.jpg" alt="">
    <div class="demo-content">
        <div id="banner2">
            <div class="title">
                <h2>Our Services</h2>
                <hr>
            </div>
            <div class="about-services">
                <div class="col-12 row">
                    <div class="col-4">
                        <img src="assets/images/222.png">
                        <h1>Pricing Data</h1>
                        <p>We provide up to date pricing and legacy data on prices of recyclable commodities.</p>
                    </div>
                    <div class="col-4">
                        <img src="assets/images/333.png">
                        <h1>Market Place</h1>
                        <p>A platform for buying and selling </p>
                    </div>
                    <div class="col-4">
                        <img src="assets/images/4444.png">
                        <h1>Supply Chain Network </h1>
                        <p>Movement of commodity from initiation to end of cycle.</p>
                    </div>

                </div>
            </div>

            <div class="about-services">
                <div class="col-12 row">
                    <div class="col-4">
                        <img src="assets/images/Consulting-bro.png">
                        <h1>Sustainability Practice Consulting </h1>
                        <p>Offerimg expert advisory services to public and private sector establishments on matters
                            regarding
                            sustainability.</p>
                    </div>
                    <div class="col-4">
                        <img src="assets/images/meeting.png">
                        <h1>Sustainability Training</h1>
                        <p>We provide and offer training services</p>
                    </div>
                    <div class="col-4">
                        <img src="assets/images/processing.png">
                        <h1>Waste Management Training </h1>
                        <p>We offer consulting services regarding waste management. </p>
                    </div>

                </div>
            </div>
            <div class="about-services">
                <div class="col-12 row">
                    <div class="col-4">
                        <img src="assets/images/Drop.png">
                        <h1>Financial Services / Prefinancing </h1>
                        <p>Secure funding for local players.</p>
                    </div>
                    <div class="col-4">
                        <img src="assets/images/4444.png">
                        <h1>Waste Management as a toll for inclusion </h1>
                         <p>Offerimg expert advisory services to pubdivc and private sector estabdivshments on matters regarding sustainabidivty.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="service-wrap">
  <img class="demo-bg" src="assets/images/10.jpg" alt="" />
  <section class="services">
    <div class="s-heading">
      <h1>Ser<font color="#148d44">vic</font>es</h1>
    </div>
    <div class="s-box-container">
      <div class="s-box">
        <div class="bar"></div>
        <img alt="1" src="assets/images/fund.png" />
        <h1>Pricing Data</h1>
        <p>
          We provide up to date pricing and legacy data on prices of recyclable
          commodities.
        </p>
      </div>
      <div class="s-box">
        <div class="bar"></div>
        <img alt="2" src="assets/images/market.png" />
        <h1>Market Place</h1>
        <p>A platform for buying and selling</p>
      </div>
      <div class="s-box">
        <div class="bar"></div>
        <img alt="3" src="assets/images/supply.png" />
        <h1>Supply Chain Network</h1>
        <p>Movement of commodity from initiation to end of cycle.</p>
      </div>
      <div class="s-box">
        <div class="bar"></div>
        <img alt="1" src="assets/images/finance.png" />
        <h1>Financial Services / Prefinancing</h1>
        <p>Secure funding for local players.</p>
      </div>
    </div>
    <div class="s-box-container">
      <div class="s-box">
        <div class="bar"></div>
        <img alt="1" src="assets/images/consulting.png" />
        <h1>Sustainability Practice Consulting</h1>
        <p>
          Offerimg expert advisory services to public and private sector
          establishments on matters regarding sustainability.
        </p>
      </div>
      <div class="s-box">
        <div class="bar"></div>
        <img alt="2" src="assets/images/training.png" />
        <h1>Sustainability Training</h1>
        <p>We provide and offer training services</p>
      </div>
      <div class="s-box">
        <div class="bar"></div>
        <img alt="3" src="assets/images/wasteTraining.png" />
        <h1>Waste Management Training</h1>
        <p>We offer consulting services regarding waste management.</p>
      </div>
      <div class="s-box">
        <div class="bar"></div>
        <img alt="2" src="assets/images/truck.png" />
        <h1>Waste Management as a toll for inclusion</h1>
        <p>
          Offerimg expert advisory services to pubdivc and private sector
          estabdivshments on matters regarding sustainabidivty.
        </p>
      </div>
    </div>
    <!-- <div class="s-box-container">


        </div> -->
  </section>
</div>
