<div id="banner1" class="banner">
    <div class="app-text">
        <!-- <h3>airbnb for yatchting</h3> -->
        <h1>Waste Collection and<br>Recycling</h1>
        <p>In line with the vision of Circular FX which is to create a marketplace for the exchange of recyclable
            materials and commodities, Circular FX will aggregate the price of recyclable materials based on the natural
            market demand and supply by sourcing price data from franchisees and vendors serving as the market price.

            Data of the daily rates are published on the Circular FX platform showing local market price and the foreign
            market price of each country thereby allowing subscribers to make a comparative analysis on their best bet.
        </p>
    </div>
    <div class="app-picture" data-aos="zoom-out-down" data-aos-duration="4000">
        <img src="assets/images/10.jpg">
    </div>

</div>

<div>
    <br>
    <br>
    <div>
        <app-what-we-trade></app-what-we-trade>
    </div>

    <div class="social-icons">
        <ul>
            <li><a href="#">
                    <i-feather name="facebook"></i-feather>
                </a></li>
            <li><a href="#">
                    <i-feather name="linkedin"></i-feather>
                </a></li>
            <li><a href="#">
                    <i-feather name="instagram"></i-feather>
                </a></li>
            <li><a href="#">
                    <i-feather name="twitter"></i-feather>
                </a></li>
        </ul>
    </div>
</div>

<br>
<br>
<div class="title" style="text-align: center;">
    <h2>Market Data</h2>
</div>
<br>
<app-market-table></app-market-table>
<br>
<div class="title" style="text-align: center;">
    <h2>Contact Us</h2>
</div>
<br>
<app-contact-us></app-contact-us>
<div class="footer-container">
    <app-content-footer></app-content-footer>
</div>