<div class="btn-action btn-group center">
  <div class="signup-btn" (click)="scrollFn('market_table')">
    Check Market Data
  </div>
  <div class="signup-btn" routerLink="/trade">Trade on EcoCircleAfrica</div>
  <div class="signup-btn">Finance Purchase order</div>
</div>

<owl-carousel-o [options]="carouselOptions">
  <ng-template carouselSlide>
    <div id="banner1" class="banner">
      <div class="app-text">
        <h1>Waste Collection and<br />Recycling</h1>
        <p>
          In line with the vision of EcoCircleAfrica which is to create a
          marketplace for the exchange of recyclable materials and commodities,
          EcoCircleAfrica will aggregate the price of recyclable materials based on
          the natural market demand and supply by sourcing price data from
          franchisees and vendors serving as the market price. Data of the daily
          rates are published on the EcoCircleAfrica platform showing local market
          price and the foreign market price of each country thereby allowing
          subscribers to make a comparative analysis on their best bet.
        </p>
      </div>
      <div class="app-picture" data-aos="zoom-out-down" data-aos-duration="4000">
        <img src="assets/images/10.jpg" />
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div id="banner1" class="banner">
      <div class="app-text">
        <h1>Plastic</h1>
        <p>
          Plastics are a wide range of synthetic or semi-synthetic materials
          that use polymers as a main ingredient.
        </p>
      </div>
      <div class="app-picture" data-aos="zoom-out-down" data-aos-duration="4000">
        <img src="assets/images/plastic.jpg" />
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div id="banner1" class="banner">
      <div class="app-text">
        <h1>Glass</h1>
        <p>
          Glass is an inorganic solid material that is usually transparent or
          translucent as well as hard, brittle, and impervious to the natural
          elements.
        </p>
      </div>
      <div class="app-picture" data-aos="zoom-out-down" data-aos-duration="4000">
        <img src="assets/images/glas.jpg" />
      </div>
    </div>
  </ng-template>

  <ng-template carouselSlide>
    <div id="banner1" class="banner">
      <div class="app-text">
        <h1>Ferrous Metals</h1>
        <p>
          Ferrous metals refer to any metal that contains iron. They are
          favoured for their tensile strength and durability, so are often
          utilised in housing construction, large-scale piping and industrial
          containers.
        </p>
      </div>
      <div class="app-picture" data-aos="zoom-out-down" data-aos-duration="4000">
        <img src="assets/images/ir.jpg" />
      </div>
    </div>
  </ng-template>

  <ng-template carouselSlide>
    <div id="banner1" class="banner">
      <div class="app-text">
        <h1>Non-Ferrous Metals</h1>
        <p>
          Non-ferrous metals, on the other hand, don’t contain iron. They are
          much more malleable and lighter than ferrous metals, making them
          particularly suited for use where strength is required.
        </p>
      </div>
      <div class="app-picture" data-aos="zoom-out-down" data-aos-duration="4000">
        <img src="assets/images/allu.jpg" />
      </div>
    </div>
  </ng-template>

  <ng-template carouselSlide>
    <div id="banner1" class="banner">
      <div class="app-text">
        <h1>Rubber</h1>
        <p>
          Rubber is a strong, waterproof, elastic substance made from the juice
          of a tropical tree or produced chemically. It is used for making
          tyres, boots, and other products.
        </p>
      </div>
      <div class="app-picture" data-aos="zoom-out-down" data-aos-duration="4000">
        <img src="assets/images/rb.jpg" />
      </div>
    </div>
  </ng-template>

  <ng-template carouselSlide>
    <div id="banner1" class="banner">
      <div class="app-text">
        <h1>Cellulose Products</h1>
        <p>
          Cellulose is typically utilized in the manufacturing of paper and
          paperboard.
        </p>
      </div>
      <div class="app-picture" data-aos="zoom-out-down" data-aos-duration="4000">
        <img src="assets/images/paper.jpg" />
      </div>
    </div>
  </ng-template>
</owl-carousel-o>

<!-- <div class="social-icons">
  <ul>
    <li>
      <a href="#">
        <i-feather name="facebook"></i-feather>
      </a>
    </li>
    <li>
      <a href="#">
        <i-feather name="linkedin"></i-feather>
      </a>
    </li>
    <li>
      <a href="#">
        <i-feather name="instagram"></i-feather>
      </a>
    </li>
    <li>
      <a href="#">
        <i-feather name="twitter"></i-feather>
      </a>
    </li>
  </ul>
</div> -->

<section id="market_table">
  <br />
  <br />
  <div class="title" style="text-align: center">
    <h2>Market Data</h2>
  </div>
  <br />
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab"
        aria-controls="home" aria-selected="true">
        Commodities
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab"
        aria-controls="profile" aria-selected="false">
        Statistics
      </button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <app-market-table></app-market-table>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <br>
      <br>
      <input type="radio" class="btn-check" (change)="changeState($event)" #checkBox value="overView"
        name="options-outlined" id="success-outlined" autocomplete="off" checked>
      <label class="btn btn-outline-primary btn-left" for="success-outlined">Commodity Overview</label>

      <input type="radio" class="btn-check" (change)="changeState($event)" #checkBox2 value="compare"
        name="options-outlined" id="danger-outlined" autocomplete="off">
      <label class="btn btn-outline-primary btn-right" for="danger-outlined">Compare Commodity Prices</label>

      <br>
      <br>
      <app-chart *ngIf="checkBox.checked"></app-chart>
      <app-chart-compare *ngIf="checkBox2.checked"></app-chart-compare>
    </div>
  </div>
  <!-- <div id="tsum-tabs">
    <main>
      <input id="tab1" type="radio" name="tabs" checked />
      <label for="tab1">Commodities</label>

      <input id="tab2" type="radio" name="tabs" />
      <label for="tab2">Chart</label>
      <section id="content1">

      </section>

      <section id="content2">

      </section>
    </main>
  </div> -->
</section>

<br />
<div class="title" style="text-align: center">
  <h2>Contact Us</h2>
</div>
<br />
<app-contact-us></app-contact-us>
<div class="footer-container">
  <app-content-footer></app-content-footer>
</div>
