<div class="header">

    <div class="navb">
        <div class="logo">
            <a href="#"><img src="assets/images/logo.png"></a>
        </div>
        <div class="menu nm">
            <ul>
                <li routerLink="/home">Home</li>
                <li routerLink="/services">Services</li>
            </ul>
        </div>
        <div class="btn-group nm" routerLink="/pickup" >
            <div class="signup-btn">Pickup Request</div>
        </div>

        <nav role='navigation' class="mobile">
            <div id="menuToggle">
                <input type="checkbox" />
                <span></span>
                <span></span>
                <span></span>
                <ul id="menu">
                    <a>
                        <li routerLink="/home">Home</li>
                    </a>
                    <a>
                        <li routerLink="/services">Services</li>
                    </a>
                    <a>
                        <div class="btn-group">
                            <div class="signup-btn">Get Started</div>
                        </div>
                    </a>
                </ul>
            </div>
        </nav>
    </div>
</div>