<div class="header">
    <div class="navb">
        <div class="logo">
            <a href="#"><img src="assets/images/logo.png"></a>
        </div>
        <div class="menu">
            <ul>
                <li>Home</li>
                <li>Services</li>
                <li>Commodities</li>
                <li>Market</li>
                <!-- <li>Mission</li> -->
                <li>Contact</li>
            </ul>
        </div>
        <!-- <div class="login-btn">Sign Up</div> -->

        <div class="btn-group">
           <div class="signup-btn">Get Started</div>
            <!-- <div class="play-btn">
                <div class="play-btn-inner">
                    <i class="fa fa-play"></i>
                </div>
                <span>How it works</span>
            </div> -->
        </div>
    </div>
</div>