@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

@import "~swiper/css";
@import "~swiper/css/effect-cards";

.swiper {
    // padding: 10px;
    display: none;
}

// .swiper-slide {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     border-radius: 18px;
//     // font-size: 22px;
//     font-weight: bold;
//     // color: #fff;
// }

::selection {
    background: #6d50e2;
    color: #fff;
}
.container {
    //   max-width: 950px;
    width: 100%;
    //   padding: 40px 50px  40px  40px;
    background: #fff;
    //   margin: 0 20px;
    border-radius: 12px;
    //   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.container .topic {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
}
.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content .list {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-right: 50px;
    position: relative;
    // padding: 40px 50px 40px 40px;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.content .list label {
    //   height: 60px;
    font-size: 18px;
    font-weight: bold;
    line-height: 60px;
    cursor: pointer;
    padding-left: 25px;
    transition: all 0.5s ease;
    color: #1b3664;
    z-index: 12;
}
#home:checked ~ .list label.home,
#blog:checked ~ .list label.blog,
#help:checked ~ .list label.help,
#code:checked ~ .list label.code,
#about:checked ~ .list label.about,
#plastic:checked ~ .list label.plastic {
    color: #fff;
}
.content .list label:hover {
    color: #1b3664;
}
.content .slider {
    position: absolute;
    left: 0;
    top: 0;
    height: 60px;
    width: 100%;
    //   border-radius: 12px;
    background: #1b3664;
    transition: all 0.4s ease;
    // padding: 40px 50px 40px 40px;
}
#home:checked ~ .list .slider {
    top: 0;
    border-radius: 8px 8px 0px 0px;
}
#blog:checked ~ .list .slider {
    top: 60px;
}
#help:checked ~ .list .slider {
    top: 120px;
}
#code:checked ~ .list .slider {
    top: 180px;
}
#about:checked ~ .list .slider {
    top: 240px;
}
#plastic:checked ~ .list .slider {
    top: 300px;
    border-radius: 0px 0px 8px 8px;
}
.content .text-content {
    width: 80%;
    height: 100%;
    // border-radius: 12px;
    padding: 30px;
    // box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.content .text {
    display: none;
}
.content .text .titl {
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 500;
    color: #1b3664;
}
.content .text p {
    text-align: justify;
}
.content .text-content .home {
    display: block;
}
#home:checked ~ .text-content .home,
#blog:checked ~ .text-content .blog,
#help:checked ~ .text-content .help,
#code:checked ~ .text-content .code,
#about:checked ~ .text-content .about,
#plastic:checked ~ .text-content .plastic {
    display: block;
}
#blog:checked ~ .text-content .home,
#help:checked ~ .text-content .home,
#code:checked ~ .text-content .home,
#about:checked ~ .text-content .home,
#plastic:checked ~ .text-content .home {
    display: none;
}
.content input {
    display: none;
}

.content-space {
    height: 20rem;
}

#home:checked ~ .text-content {
    background-image: url(../../../assets/images/ir.jpg);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    border-radius: 10px;
    .home {
        padding: 20px;
        background-color: #daffebcc;
        border-radius: 10px;
        transition: width 2s, height 4s;
    }
}
#blog:checked ~ .text-content {
    background-image: url(../../../assets/images/allu.jpg);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    border-radius: 10px;
    .blog {
        padding: 20px;
        background-color: #daffebcc;
        border-radius: 10px;
    }
}
#help:checked ~ .text-content {
    background-image: url(../../../assets/images/rb.jpg);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    border-radius: 10px;
    .help {
        padding: 20px;
        background-color: #daffebcc;
        border-radius: 10px;
    }
}
#code:checked ~ .text-content {
    background-image: url(../../../assets/images/paper.jpg);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    border-radius: 10px;
    .code {
        padding: 20px;
        background-color: #daffebcc;
        border-radius: 10px;
    }
}
#about:checked ~ .text-content {
    background-image: url(../../../assets/images/glas.jpg);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    border-radius: 10px;
    .about {
        padding: 20px;
        background-color: #daffebcc;
        border-radius: 10px;
    }
}
#plastic:checked ~ .text-content {
    background-image: url(../../../assets/images/plastic.jpg);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    border-radius: 10px;
    .plastic {
        padding: 20px;
        background-color: #daffebcc;
        border-radius: 10px;
    }
}
.signup-btn{
    margin-right: 10px;
}


// .image-container {
//     text-align: center;
//     img {
//         width: 70%;
//         border-radius: 30px;
//     }
// }

@media only screen and (max-width: 699px) {
    .content {
        display: none;
    }
    .swiper {
        display: block;
        // height: 10rem;
    }

    .titl {
        font-weight: 900;
        font-size: 20px;
    }

    .text-content-home {
        background-image: url(../../../assets/images/ir.jpg);
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
        border-radius: 10px;
        height: 100%;
        .home {
            padding: 20px;
            background-color: #daffebcc;
            border-radius: 10px;
            transition: width 2s, height 4s;
        }
    }
    .text-content-blog {
        background-image: url(../../../assets/images/allu.jpg);
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
        border-radius: 10px;
        .blog {
            padding: 20px;
            background-color: #daffebcc;
            border-radius: 10px;
        }
    }
    .text-content-help {
        background-image: url(../../../assets/images/rb.jpg);
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
        border-radius: 10px;
        .help {
            padding: 20px;
            background-color: #daffebcc;
            border-radius: 10px;
        }
    }
    .text-content-code {
        background-image: url(../../../assets/images/paper.jpg);
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
        border-radius: 10px;
        .code {
            padding: 20px;
            background-color: #daffebcc;
            border-radius: 10px;
        }
    }
    .text-content-about {
        background-image: url(../../../assets/images/glas.jpg);
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
        border-radius: 10px;
        .about {
            padding: 20px;
            background-color: #daffebcc;
            border-radius: 10px;
        }
    }
    .text-content-plastic {
        background-image: url(../../../assets/images/plastic.jpg);
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
        border-radius: 10px;
        .plastic {
            padding: 20px;
            background-color: #daffebcc;
            border-radius: 10px;
        }
    }
}
