<div class="container">
    <!-- <div class="topic">CSS Vertical Tabs.</div> -->
    <div class="content">
        <input type="radio" name="slider" checked id="home">
        <input type="radio" name="slider" id="blog">
        <input type="radio" name="slider" id="help">
        <input type="radio" name="slider" id="code">
        <input type="radio" name="slider" id="about">
        <input type="radio" name="slider" id="plastic">

        <div class="list">
            <label for="home" class="home">
                <i class="fad fa-chevron-double-right"></i>
                <span class="titl">Ferrous Metals</span>
            </label>
            <label for="blog" class="blog">
                <span class="icon"><i class="fas fa-blog"></i></span>
                <span class="titl">Non-Ferrous Metals</span>
            </label>
            <label for="help" class="help">
                <span class="icon"><i class="far fa-envelope"></i></span>
                <span class="titl">Ruber</span>
            </label>
            <label for="code" class="code">
                <span class="icon"><i class="fas fa-code"></i></span>
                <span class="titl">Cellulose Products</span>
            </label>
            <label for="about" class="about">
                <span class="icon"><i class="far fa-user"></i></span>
                <span class="titl">Glass</span>
            </label>
            <label for="plastic" class="plastic">
                <span class="icon"><i class="far fa-user"></i></span>
                <span class="titl">Plastic</span>
            </label>
            <div class="slider"></div>
        </div>
        <div class="text-content" data-aos="zoom-out-down" data-aos-duration="10000">
            <div class="content-space"></div>
            <div class="home text" data-aos="zoom-out-down" data-aos-duration="10000">
                <div class="titl">Ferrous Metals</div>
                <p>Ferrous products (i.e., iron and steel) can be recycled by both internal and external methods. Some
                    internal recycling methods are obvious. Metal cuttings or imperfect products are recycled by
                    remelting, recasting, and redrawing entirely within the steel mill. The process is much cheaper than
                    producing new metal from the basic ore. Most iron and steel manufacturers produce their own coke.
                    By-products from the coke oven include many organic compounds, hydrogen sulfide, and ammonia. The
                    organic compounds are purified and sold. The ammonia is sold as an aqueous solution or combined with
                    sulfuric acid to form ammonium sulfate, which is subsequently dried and sold as fertilizer.</p>
            </div>
            <div class="blog text" data-aos="zoom-out-down" data-aos-duration="10000">
                <div class="titl">Non-Ferrous Metals</div>
                <p>At present, manual sorting seems to be the only practical method of separating pieces of nonferrous
                    scrap materials such as aluminum, copper, and lead.

                    Secondary aluminum reprocessing is a large industry, involving the recycling of machine turnings,
                    rejected castings, siding, and even aluminum covered with decorative plastic. The items are thrown
                    into a reverberatory furnace (in which heat is radiated from the roof into the material treated) and
                    melted while the impurities are burned off. The resulting material is cast into ingots and resold
                    for drawing or forming operations. Beverage cans are another major source of recycled aluminum; in
                    some countries, as many as two-thirds of all such cans are recycled.

                    The primary source of used lead is discarded electric storage batteries. Battery plates may be
                    smelted to produce antimonial lead (a lead-antimony alloy) for manufacture of new batteries or to
                    produce pure lead and antimony as separate products.

                </p>
            </div>
            <div class="help text">
                <div class="titl">Rubber</div>
                <p>Though much used rubber was formerly burned, this practice has been greatly curtailed in most
                    countries in order to prevent air pollution. Internal recycling is common in most rubber plants; the
                    reprocessed product can be used wherever premium-grade rubber is not needed. External recycling has
                    proved a problem over the years, as the cost of recycling old or worn-out tires has far exceeded the
                    value of the reclaimed material. Shredded rubber can be used as an additive in asphalt pavements,
                    and discarded tires may be used as components of swings and other assorted recreational climbing
                    equipment in “tire playgrounds” for children.
                </p>
            </div>
            <div class="code text">
                <div class="titl">Cellulose Products</div>
                <p>One of the most readily available materials for recycling is paper, which alone accounts for more
                    than one-third by weight of all the material deposited in landfills in the United States. The stream
                    of wastepaper consists principally of newspaper; office, copying, and writing paper; computer paper;
                    coloured paper; paper tissues and towels; boxboard (used for cereal and other small boxes);
                    corrugated cardboard; and kraft paper (used for paper bags). These papers must usually be sorted
                    before recycling. Newsprint and cardboard can be repulped to make the same materials, while other
                    types of scrap paper are recycled for use in low-quality papers such as boxboard, tissues, and
                    towels. Paper intended for printing-grade products must be de-inked (often using caustic soda) after
                    pulping; for some uses the stock is bleached before pressing into sheets. Smaller amounts of
                    recycled paper are made into cellulose insulation and other building products.</p>
            </div>
            <div class="about text">
                <div class="titl">Glass</div>
                <p>Glass makes up about 6 percent by weight of the material in municipal waste streams. Glass is an
                    easily salvageable material but one that is difficult to recover economically. Though enormous
                    numbers of glass containers are used throughout the world, much of this glass is still not recycled,
                    because the raw materials are so inexpensive that there is scant economic motive to reuse them. Even
                    those glass containers that are returned by consumers in their original form sooner or later become
                    damaged or broken.
                </p>
            </div>
            <div class="plastic text">
                <div class="titl">Plastics</div>
                <p>Plastics account for almost 10 percent by weight of the content of municipal garbage. Plastic
                    containers and other household products are increasingly recycled, and, like paper, these must be
                    sorted at the source before processing. Various thermoplastics may be remelted and reformed into new
                    products.
                    Thermoplastics must be sorted by type before they can be remelted. Thermosetting plastics such as
                    polyurethane and epoxy resins, by contrast, cannot be remelted; these are usually ground or shredded
                    for use as fillers or insulating materials. So-called biodegradable plastics include starches that
                    degrade upon exposure to sunlight (photodegradation), but a fine plastic residue remains, and the
                    degradable additives preclude recycling of these products.
                </p>
            </div><br><div class="btnn btn-group">
                <div class="signup-btn">Trade on CircularFX</div>
            </div>
        </div>
    </div>
</div>