<section class="layout">
  <div class="container">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
          role="tab" aria-controls="home" aria-selected="true">
          Commodity Update
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
          role="tab" aria-controls="profile" aria-selected="false">
          Pick-Up Requests
        </button>
      </li>
    </ul>
    <br>
    <br>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="row">
          <h3>Commodities</h3>
          <div class="space"></div>
          <div class="space"></div>
          <div class="col-12">
            <div class="row">
              <app-new-commodity class="col-12 col-lg-6"></app-new-commodity>
              <hr class="d-lg-none d-flex">
              <div class="d-lg-none d-flex space"></div>
              <app-commodity-price-update class="col-12 col-lg-6"></app-commodity-price-update>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <br>
        <h3>Pick-Up List</h3>
        <div class="space"></div>
        <div class="space"></div>
        <div class="col-8 col-lg-4">
          <input id="searchInput" [(ngModel)]="filter" class="form-control form-control-bordered history-search-text"
            type="text" placeholder="search..." />
        </div>
        <div class="space"></div>

        <div class="no-data" *ngIf="pickUps.length == 0">
          <img src="assets/images/sorry.gif" alt="no data yet" />
          <h4>Sorry, we have no PickUp Request yet.</h4>
        </div>
        <div class="table-responsive" *ngIf="pickUps.length != 0">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">
                  S/N
                </th>
                <th scope="col">Full Name</th>
                <th scope="col">Phone</th>
                <th scope="col">Email</th>
                <th scope="col">Location</th>
                <th scope="col">Commodity</th>
                <th scope="col">Measurement</th>
              </tr>
            </thead>
            <tbody id="myUL" *ngFor="
                let cm of pickUps | searchPipe: filter | paginate: config;
                let i = index
              ">
              <tr data-bs-toggle="modal" data-bs-target="#newCommodity" class="tr">
                <td>{{i +1}}
                </td>
                <td>{{ cm.fullname}}</td>
                <td>{{ cm.phone}}</td>
                <td>{{ cm.email}}</td>
                <td>{{ cm.address}}</td>
                <td>{{ cm.commodity.name}}</td>
                <td>{{ cm.measurement}}</td>
              </tr>
            </tbody>
          </table>
          <pagination-controls *ngIf="pickUps.length > 5" style="float: right; margin-top: 10px"
            (pageChange)="pageChanged($event)">
          </pagination-controls>
        </div>
      </div>
    </div>





  </div>
</section>
