@import url("./../../content/market-table/market-table.scss");

.country {
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    width: 30px;
    margin: 7px;
    border-radius: 5px;
  }
}

.form-array {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #ededed;
  border-radius: 20px;
  box-shadow: 1px 1px 2px 0px #888888;
}
.add {
  padding: 1rem;
  cursor: pointer;
}

.warn {
  background-color: red;
  padding: 2px;
  border-radius: 50%;
  width: 1rem;
  float: right;
}

.action-b {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .btn-group {
    width: auto !important;
  }
}

.action {
  display: flex;
  justify-content: space-around;
  align-items: center;
  i-feather {
    cursor: pointer;
    color: #175d2d;
    font-size: 10px;
  }
  i-feather:hover {
    cursor: pointer;
    color: #175d2d;
    font-size: 16px;
  }
}

.new_commodity_wrap {
  padding: 0rem 5rem;
}

.custom-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
}

@media only screen and (max-width: 699px) {
  .custom-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: auto;
  }
}
