<div class="no-data" >
    <img src="assets/images/sorry.gif" alt="no data yet" />
    <h4>We are sorry, chart data will be available soon</h4>
  </div>
<!-- 
<div style="display: block">
    <canvas baseChart
      [data]="doughnutChartData"
      [type]="doughnutChartType">
    </canvas>
  </div> -->
<!-- <div class="flex">
  <div class="flex-item">
    <div style="display: block">
      <canvas
        baseChart
        [data]="lineChartData"
        [options]="lineChartOptions"
        [type]="lineChartType"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"
      ></canvas>
    </div>
  </div>
</div> -->

