<section class="contact-section">

    <div class="contact-body">
        <div class="contact-info">
            <div class="cf">
                <i class="fas fa-map-marker-alt"></i>
                <span class="text">17 Abioro Street, Lekki Lagos </span>
            </div>
            <div class="cf">
                <i class="fas fa-mobile-alt"></i>
                <span class="text"> +234(80) 9526 5228</span>
            </div>
            <div class="cf">
                <i class="fas fa-envelope-open"></i>
                <span class="text">info@circularfx.com</span>
            </div>

            <!-- <div>
                <span><i class="fas fa-clock"></i></span>
                <span>Opening Hours</span>
                <span class="text">Monday - Friday (9:00 AM to 5:00 PM)</span>
            </div> -->
        </div>
    </div>

    <div class="map">
        <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3964.7107050262343!2d3.4467920153301224!3d6.4311970260123905!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103bf51b24eb53bb%3A0xaf9f2886da3f7b4a!2s8%20Sogbesan%20Cl%2C%20Maroko%20106104%2C%20Lagos!5e0!3m2!1sen!2sng!4v1637141190037!5m2!1sen!2sng" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe> -->
        <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3964.655591452196!2d3.4879767153301042!3d6.438259125933216!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103bf5cd5e7b1f39%3A0xccb8cf0ae8b67fd!2s17%20Abioro%20St%2C%20Lekki%20Penninsula%20II%20106104%2C%20Lekki!5e0!3m2!1sen!2sng!4v1637577500145!5m2!1sen!2sng" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe> -->

        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3964.655591452196!2d3.4879767153301042!3d6.438259125933216!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103bf5cd5e7b1f39%3A0xccb8cf0ae8b67fd!2s17%20Abioro%20St%2C%20Lekki%20Penninsula%20II%20106104%2C%20Lekki!5e0!3m2!1sen!2sng!4v1637577500145!5m2!1sen!2sng"
            width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
            tabindex="0"></iframe>
    </div>
</section>