<div class="container">
  <div class="search-section" style="justify-content: space-between">
    <div class="col-4 country">
      <select [(ngModel)]="selectedCountry" class="form-select form-control form-control-bordered history-search-text"
        (ngModelChange)="onChange($event)">
        <option *ngFor="let c of dataService.getCountries()" [ngValue]="c">{{ c.name }}</option>
      </select>
      <img src="{{ selectedCountry.flag }}" alt="" />
    </div>

    <!-- <div class="form-check col-12 col-lg-2 ">
      <input class="form-check-input" type="checkbox" value="filter" name="filter" [(ngModel)]="isFilter" id="filter">
      <label class="form-check-label" for="filter">
        Filter date range
      </label>
    </div> -->

    <div class="space d-flex d-lg-none"></div>
    <div class="row col-12 col-lg-6">
      <div class="col-6 col-lg-6">
        <input [(ngModel)]="startDate" class="form-control form-control-bordered history-search-text" type="text"
          placeholder="Start Date" onfocus="(this.type='date')" />
      </div>
      <div class="col-6 col-lg-6">
        <input [(ngModel)]="endDate" class="form-control form-control-bordered history-search-text" type="text"
          placeholder="End Date" onfocus="(this.type='date')" />
      </div>
    </div>

    <div class="space d-flex d-lg-none"></div>
    <div class="btn-group col-lg-4" style="width: auto !important;">
      <div class="signup-btn" (click)="filterPrice()">Filter
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-4">
    <input id="searchInput" [(ngModel)]="filter" class="form-control form-control-bordered history-search-text"
      type="text" placeholder="search..." />
  </div>
  <div class="no-data" *ngIf="fxData.length == 0">
    <img src="assets/images/sorry.gif" alt="no data yet" />
    <h4>Sorry, we have no data for {{ selectedCountry.name }} yet.</h4>
  </div>
  <div *ngIf="fxData.length > 0" class="table-responsive">
    <table class="table" *ngIf="fxData.length != 0">
      <thead>
        <tr>
          <th class="fr" scope="col">COMODITY</th>
          <th class="amount" scope="col">
            PRICE TODAY ({{ selectedCountry.currency.code }})
          </th>
          <!-- <th class="amount" scope="col">CHANGE (%)</th> -->
          <!-- <th class="amount" scope="col">LAST WEEK (NGN / KG)</th> -->
          <th class="amount" scope="col">AS AT</th>
          <!-- <th scope="col"></th> -->
        </tr>
      </thead>
      <tbody id="myUL" *ngFor="let fx of fxData | searchPipe: filter | paginate: config; let i = index">
        <tr class="tr">
          <td class="fr">
            <div class="name_sub" (click)="showClass(fx)">
              {{ fx.name }}
            </div>
          </td>
          <td class="amount">{{ selectedCountry.currency.symbol }}{{ fx.amount == null || fx.amount == 0 ? "-" :
            (fx.amount | wz_naira_money_format) }}</td>
          <td class="amount"> {{ fx.createdAt | date: 'd MMMM, y'}}
          </td>
        </tr>
      </tbody>
    </table>

    <pagination-controls *ngIf="fxData.length > 10" style="float: right; margin-top: 10px;"
      (pageChange)="pageChanged($event)">
    </pagination-controls>
  </div>
</div>
