@import url("../content/market-table/market-table.scss");

.service-wrap {
    overflow: hidden;
    position: relative;
    padding: 100px 40px 20px 40px;
}

.country {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent !important;
    img {
        width: 30px !important;
        margin: 7px;
        border-radius: 5px;
    }
}
.demo-bg {
    opacity: 0.07;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: -999;
}
.bck {
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}

.demo-content {
    position: relative;
}

.row {
    align-items: center;
    justify-content: space-evenly;
}

.col-4 {
    img {
        width: 8rem;
        margin: 1.5rem;
    }
    h1 {
        font-size: 22px;
    }
}
.title {
    text-align: start;
    padding: 0px 100px;
}
hr {
    border: 1px solid #1b3664;
}

a {
    text-decoration: none;
}
.services {
    width: 100%;
    height: 100vh;
    display: flex;
    // margin-bottom: 5rem;
    flex-direction: column;
    // justify-content: space-evenly;
    align-items: center;
}
.s-heading {
    text-align: center;
    margin: 50px;
}
.s-heading h1 {
    color: #576975;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0px;
}
.s-heading p {
    color: rgba(87, 105, 117, 0.6);
    font-size: 1rem;
    margin: 5px;
    text-align: center;
}
.s-box-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.s-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    padding: 20px 25px;
    height: 300px;
    box-sizing: border-box;
    margin: 30px;
    position: relative;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.068);
    transition: all ease 0.3s;
    background-color: #fff;
}
.s-box img {
    height: 75px;
    margin: 10px;
}
.s-box h1 {
    // color: #576975;
    letter-spacing: 1px;
    font-size: 1.5rem;
    margin-bottom: 8px;
}
.s-box p {
    color: rgba(87, 105, 117, 0.9);
    text-align: center;
}
.s-btn {
    width: 140px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid rgba(74, 144, 226, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #576975;
    margin-top: 10px;
}
.bar {
    width: 100px;
    height: 6px;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translateX(-50%);
    background-color: #1b3664;
    border-radius: 0px 0px 10px 10px;
    display: block;
    animation: bar 0.5s;
}
.s-box:hover {
    box-shadow: 1px 1px 5px #1b36649c;
    transition: all ease 0.3s;
    background-color: #44af691f;
    cursor: pointer;
}
.s-btn:hover {
    background-color: #4a90e2;
    border: 1px solid #4a90e2;
    color: #ffffff;
    transition: all ease 0.3s;
}
.s-box:hover .bar {
    display: block;
}

.com {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .com-details {
        padding: 1rem;
        background-color: #44af691f;
        border-radius: 10px;
    }
}

.h1 {
    font-size: 60px !important;
}
.h2 {
    font-size: 30px !important;
}
.small {
    font-size: 30px !important;
}
.small-2 {
    font-size: 20px !important;
}

.row-btm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .btn-group {
        width: auto;
    }
}
.total {
    display: flex;
    align-items: center;
    .h2 {
        margin-bottom: 0px !important;
    }
}
@keyframes bar {
    0% {
        width: 0px;
    }
    100% {
        width: 100px;
    }
}
@media (max-width: 1050px) {
    .s-box-container {
        flex-wrap: wrap;
    }
    .services {
        height: auto;
    }
    .s-heading {
        margin: 15px;
    }
    .s-box {
        flex-grow: 1;
    }
}

@media only screen and (max-width: 699px) {
    .search-section {
        flex-direction: column;
    }
    .country {
        width: 100% !important;
        margin: 0.1rem;
    }
    .bck {
        width: 100% !important;
        justify-content: left;
    }
    .bck div {
        margin-left: 0.2rem;
    }
    .row-btm,
    .com {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .com .col-4,
    .col-6 {
        margin: 0.2rem;
        width: 100%;
    }

    .h1 {
        font-size: 40px !important;
    }
    .h2 {
        font-size: 20px !important;
    }
    .small {
        font-size: 20px !important;
    }
    .small-2 {
        font-size: 10px !important;
    }
    .service-wrap {
        padding: 100px 40px 100px 40px;
    }
    .btn-group{
        margin: 0px;
    }
}
